body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fcf8f82a;
}
nav {
    background:rgb(65, 65, 65);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}
.bgvid{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height:100vh;
  object-fit: cover;
  z-index:-1;
}
nav a {
    position: relative;
    padding-bottom:4px;
}

nav a::after {
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #f1c40f;
    transition: 0.4s ease;
}

nav a:hover::after {
    width: 100%;
}
nav .logo{
    font-size: 16px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-right: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #ffcc00;

}
.sss{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.product .op{
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}
.product .dp{
    font-weight: bold;
    color: rgb(12, 12, 12);
    margin-right: 10px;
}
.product .dis{
    color: red;
    font-weight: bold;
}

/* Hero Section */
.hero {
    height: 70vh;
    background: url('banner.jpg') center/cover no-repeat;
    text-align: center;
    color: rgb(239, 238, 238);
    padding-top: 120px;
}

.hero h1 {
    font-size: 40px;
    transition: all 0.3s ease;
}
.hero h1:hover {
    color: #ffcc00;
    transform: scale(1.05);
}
.page-heading{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}
.page-heading:hover .frame{
    color: #4a4f02;
    transform: scale(1.05);
}
.page-heading:hover .h1{
    color: #e2c105;
    transition: all 0.3s ease;
    transform: scale(1.2);
    text-decoration:solid underline;
}
.h1{
    color:white
}
.btn {
    padding: 12px 25px;
    background: #ffcc00;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}
.product img{
    transition: transform 0.4s ease;
}

.product:hover img{
    transform: scale(1.05);
}
.product {
    transition: 0.4s ease;
    border-radius: 8px;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}
.btn{
    background: #f1c40f;
    transition:  0.3s;
}

.btn:hover {
    background: #d4ac0d;
    transform: scale(1.05);
}
.text-hover:hover {
    color: #f1c40f;
    transition: 0.3s ease;
}
.products {
    display: flex;
    flex-wrap: wrap;
 justify-content: center;
    gap: 40px;
    padding: 40px;
}

.product {
    max-width: 250px;
    flex: 1;
    background:white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ddd;
}
.about-section h1{
    text-align: center;
    margin-bottom: 20px;
}
.about-section p{
    line-height: 1.6;
    font-size: 18px;
    color: #333;
}

.contact-section {
    width: 50%;
    margin: 30px auto;
}

.contact-section form input,
.contact-section form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid gray;
}

.contact-section button {
    width: 100%;
}
.about-section{
    padding: 20px;
}
footer {
    margin-top: 4rem;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}

.footer a{
    color: #007BFF;
}